/*==================================RESPONSIVE LAYOUTS===============================================*/


@media only screen and (max-width: 1910px){
	
	.info_box2{
		margin-left: 0;
		margin-right: 0;
		padding: 40px 30px 35px;
	}

	.bg_holiday:before{
		left: auto;	
		right: 50%;	
		margin-right: 654px;
	}

	.bg_holiday:after{
		right: auto;	
		left: 50%;	
		margin-left: 654px;
	}

	.bg_new_year:before{
		left: auto;	
		right: 50%;	
		margin-right: 626px;
	}

	.bg_new_year:after{
		right: auto;	
		left: 50%;	
		margin-left: 626px;
	}
	.bg_new_year2:before{
		left: auto;	
		right: 50%;	
		margin-right: 667px;
	}

	.bg_new_year2:after{
		right: auto;	
		left: 50%;	
		margin-left: 667px;
	}
	.bg_new_year3:before{
		left: auto;	
		right: 50%;	
		margin-right: 640px;
	}

	.bg_new_year3:after{
		right: auto;	
		left: 50%;	
		margin-left: 640px;
	}

	.bg_box_img_3{
		left: auto;
		right: 50%;	
		margin-right: 606px;
	}
	.bg_box_img_4{
		right: auto;	
		left: 50%;	
		margin-left: 606px;
	}
	
	.bg_box_img_5{
		left: auto;
		right: 50%;	
		margin-right: 413px;
	}
	.bg_box_img_6{
		right: auto;	
		left: 50%;	
		margin-left: 416px;
	}
	
}

@media only screen and (max-width: 1769px){
	
	.logo{
		bottom: -36px;
	}

	.logo a{
		width: 194px;
		height: 140px;
	}

	#nav,
	.header_address{
		margin-left: 200px;	
	}

	.navigation>li>a{
		font-size: 16px;
		padding: 33px 15px;
	}

	.header_tel_box{
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}

	.header_tel{
		margin-bottom: 5px;
	}

	.list4_title{
		-webkit-flex-basis: 175px;
		-moz-flex-basis: 175px;
		-ms-flex-basis: 175px;
		-o-flex-basis: 175px;
		flex-basis: 175px;	
	}

	.list4{
		margin-left: -100px;
	}

}

@media only screen and (max-width: 1249px){
	
	.logo {
	    bottom: -46px;
	    left: 0;
	}
	body.open_menu{
		overflow: hidden;
	}

	.menu_btn{
		display: block;
	}

	#nav:before{
		content: '';
		display: block;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #000;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	body.open_menu #nav:before{
		opacity: 0.8;
		visibility: visible;
	}

	.navigation{
		position: fixed;
		z-index: 99;
		display: block;
		width: 250px;
		margin-right: -250px;
		right: 0;
		top: 0;
		max-height: 100%;
		overflow: auto;
		background-color: #fff;
		-webkit-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

	body.open_menu .navigation{
		margin-right: 0;
	}

	body.open_menu .menu_btn{
		right: 250px;
	}

	.navigation>li>a{
		padding: 10px 15px;
	}

	.submenu{
		position: static;
		opacity: 1;
		visibility: visible;
		background: none;
		border: none;
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		width: auto;
		padding: 15px 10px 15px 20px;
	}

	.header_bottom{
		padding: 10px 0;
	}

	.header_tel_box{
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
		-ms-align-items: center;
		align-items: center;
	}

	.box1{
		height: 440px;
	}
	
	.box2{
		height: 440px;
	}
	.box2_cont{
		padding: 30px 50px 25px 30px;
	}

	.box3{
		height: 310px;
	}
	.comment_box_cont{height: 242px;}

	.info_box1_img{
		left: 30px;
	}

	.menu2>*:before{
		-webkit-transform: translate(-50%, -53%);
		-ms-transform: translate(-50%, -53%);
		-o-transform: translate(-50%, -53%);
		transform: translate(-50%, -53%);
	}
	.menu2>*:hover:before{
		-webkit-transform: translate(-50%, -48%);
		-ms-transform: translate(-50%, -48%);
		-o-transform: translate(-50%, -48%);
		transform: translate(-50%, -48%);	
	}
	.program_tabs_list>li>a, 
	.program_tabs_list>li>span{
		font-size: 16px;
	}
	
	.list4{margin-left: 0;}
	.list4_item{
		display: block;	
	}
	.list4_title{
		-webkit-justify-content: flex-start;
		-moz-justify-content: flex-start;
		-ms-justify-content: flex-start;
		-o-justify-content: flex-start;
		justify-content: flex-start;
		margin-bottom: 10px;
		padding-right: 0;
	}

	.block1_left{
		padding-left: 0;
	}
	.stock_box{
		padding: 35px;
	}

}

@media only screen and (max-width: 991px){
	
	body{min-width:768px;}
	.header_bottom>.container_large{
		padding-left: 160px;
	}
	.logo a{
		width: 150px;
		height: 109px;
	}
	.logo{
		bottom: -39px;
	}

	#nav{
		position: fixed;
		margin-left: 0;
		width: 100px;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-shrink: 0;
		-o-flex-shrink: 0;
		flex-shrink: 0;
	}

	.header_top>.container_large{
		---webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.header_address{margin: 0 0 10px;}

	.first_screan_subtitle{font-size: 38px;}
	.first_screan_title{font-size: 61px;line-height: 1.3;}
	.first_screan_teaser{font-size: 38px;}

	h1,.title1{font-size: 61px;}
	h2,.title2{font-size: 38px;}
	h3,.title3{font-size: 22px;}
	.title4{font-size: 19px;}

	.header_tel{font-size: 17px;}

	.box1{height: 410px;}
	.box2{height: 420px;}

	.subscribe_box{
		display: block;
	}

	.subscribe_box_form{
		padding: 0;
	}

	.subscribe_box_text{
		padding: 0 0 15px;
	}
	.comment_box_cont{height: 270px;width: 345px;}

	.contact_list{
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.footer_item{
		-webkit-flex-basis: 33.333%;
		-moz-flex-basis: 33.333%;
		-ms-flex-basis: 33.333%;
		-o-flex-basis: 33.333%;
		flex-basis: 33.333%;
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-shrink: 0;
		-o-flex-shrink: 0;
		flex-shrink: 0;
		padding-top: 20px;
	}

	.footer_inner{
		margin-top: -20px;
		-webkit-justify-content: flex-start;
		-moz-justify-content: flex-start;
		-ms-justify-content: flex-start;
		-o-justify-content: flex-start;
		justify-content: flex-start;
		--webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.copyrite{padding-top: 10px;}
	
	.articles_item{
		display: block;
	}

	.articles_img{
		margin: 0 0 15px;
	}

	.info_box1_cont{padding: 40px 30px;}

	.info_box1_img{
		display: none;
	}

	.menu2_wrapp{
		display: none;
	}
	.program_tabs_list>li>a,
	.program_tabs_list>li>span{
		font-size: 14px;
		padding: 10px 20px;
	}

	.block1_wrapp{
		display: block;
	}

	.block1_left{padding-bottom: 30px;}
	.block1_right{width: auto;}
	.first_screan_bg_img{display: none;}
}

@media only screen and (max-width: 767px) {
 	
 	body{
 		min-width:420px;
 		font-size: 14px;
 	}

 	.section_offset,.section_offset2,.section_offset3,.section_offset4{padding: 40px 0;}
 	.section_offset_bottom1{padding-bottom: 40px;}

	.header_bottom>.container_large{
		display: block;
	}
	
	.btn{
		font-size: 16px;
	}
	.request_call{
		padding: 8px 10px;
		min-width: 180px;
	}

	#first_screan{
		/*height: auto !important;*/
	}
	.first_screan_img{
		padding: 70px 0 30px;
	}

	.first_screan_subtitle{font-size: 18px;}
	.first_screan_title{font-size: 26px;}
	.first_screan_teaser{
		font-size: 18px;
		padding: 20px 0;
	}

	h1,.title1{font-size: 36px;}
	h2,.title2{font-size: 24px}
	h3,.title3{font-size: 18px;}
	.title4{font-size: 18px;}
	
	.box3_title{
		font-size: 19px;
	}
	.contact_list_title{
		font-size: 13px;
	}

	.contact_list{padding-top: 0;}

	.contact_list_item>img{
		width: 100px;
		margin-bottom: 15px;
	}

	.list1>li{
		font-size: 14px;
		line-height: 1.6;
	}

	.box2{
		height: 380px;
	}
	
	.advantages_line{top: 105px;}
	.advantages_img{
		width: 60%;
	}

	.subscribe_box{
		padding: 25px;
	}

	.subscribe_btn{
		width: 150px;
		font-size: 15px;
	}

	.subscribe_input{
		font-size: 14px;
		padding: 10px 160px 10px 15px;
	}

	.footer_item,
	.footer_item .col{
		-webkit-flex-basis: 100%;
		-moz-flex-basis: 100%;
		-ms-flex-basis: 100%;
		-o-flex-basis: 100%;
		flex-basis: 100%;
	}
	.footer_top{padding: 30px 0 20px;}
	.header_address{text-align: center;}
	.box1{
		height: 329px;
	}

	.box3{
		margin-top: 30px;
	}

	.box2{height: auto;margin-top: 30px;}
	.box2_cont_inner{
		padding-bottom: 20px;
	}
	.box2_img{
		display: none;
	}

	.box2_cont{
		width: 100%;
		background-color: #fff;
		border-radius: 18px;
	}

	.results_wrapp{
		margin-top: -30px;
	}

	.advantages_wrapp{
		padding: 30px 0;
	}

	.advantages_line{top: 68px;}

	.running_line{padding: 5px 0;font-size: 12px;}
	.section_teachers{margin-bottom: 40px;}
	.tabs_list{
		margin-bottom: 20px;
	}

	.program_tabs_list{
		background: none;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
	}
	.program_tabs_list>li>a,
	.program_tabs_list>li>span{
		color: #fff;
		margin-top: 10px;
	}

	.program_tabs_list{
		margin-top: 0;
		margin-bottom: 30px;
	}
	.stock_img{display: none;}
	
	.list4_item{margin-top: 30px;}
	.list4{margin-top: -30px;}
	.list4_title{font-size: 40px;}
	
	.advantages2_img,
	.list5_img{
		width: 60px;
		margin-right: 15px;
	}

	.stock_box{
		padding: 20px;
		font-size: 15px;
	}

	.info_box1_cont{
		padding: 20px;
	}

	.tacher_box:not(:last-child){
		margin-bottom: 40px;
	}

	.tacher_img{
		margin-bottom: 10px;
		width: 370px;
	}

	.btn.large{
		padding: 15px;
	}

	.first_screan_slider .slider_btn_next,
	.first_screan_slider .slider_btn_prev{
		width: 22px;
		height: 31px;
		left: 10px;
		-webkit-background-size: 44px auto;
		background-size: 44px auto;
	}

	.first_screan_slider .slider_btn_next{
		left: auto;
		right: 10px;
	}

	.swiper-pagination-bullet{
		width: 10px;
		height: 10px;
	}
	.first_screan_slider .swiper-pagination{
		bottom: 4px;
	}

}

@media only screen and (max-width: 575px){
 	body{min-width:300px;}

 	.request_call{
 		display: none;
 	}
 	.btn{width: 100%;min-width: 0;}

 	.slider_wrapp{
 		margin-left: 0;
 		margin-right: 0;
 		padding-left: 25px;
 		padding-right: 25px;
 	}

 	.slider_btn_next,
 	.slider_btn_prev{
 		width: 23px;
 		height: 30px;
 	}
 	.box3{
 		height: 270px;
 	}

 	.subscribe_input{
 		padding: 10px 15px;
 		margin-bottom: 10px;
 	}

 	.subscribe_btn{
 		position: static;
 		border-radius: 20px;
 	}

 	.comment_box_cont{
 		width: 244px;
 		height: 191px;
 		padding: 10px 20px;
 		font-size: 11px;
 	}

 	.comment_box_cont .video_play{display: none;}
 	.comment_video_link>span{
 		padding: 0 3px;
 	}

 	.contact_list_item>img{
 		width: 70px;
 	}

 	.contact_list_title{
 		font-size: 11px;
 		line-height: 1.6;
 	}

 	.map_box{
 		height: 280px;
 	}
	
	.advantages_wrapp{
		---webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	[class*="advantages_item_"]{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		-webkit-flex-basis: 100%;
		-moz-flex-basis: 100%;
		-ms-flex-basis: 100%;
		-o-flex-basis: 100%;
		flex-basis: 100%;
	}

	.advantages_img{
		-webkit-flex-shrink: 0;
		-moz-flex-shrink: 0;
		-ms-flex-shrink: 0;
		-o-flex-shrink: 0;
		flex-shrink: 0;
		width: 70px;
		margin-right: 15px;
	}

	.advantages_line{
		width: 9px;
		height: auto;
		right: auto;
		top: 65px;
		bottom: 85px;
		left: 31px;
	}

	.advantages_line_active{
		width: 100%;
		height: 0;
	}

	.advantages_wrapp.active .advantages_line_active{
		height: 100%;
	}
	.header_bottom>.container_large{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		--justify-content: space-between;
	}
	
	.vacancies_list dt{
		float: none;
		display: block;
		margin-bottom: 0;
	}
	.vacancies_list dd{
		padding-left: 0;
	}
	.tacher_img{
		width: auto;
	}

	.modal_box1{
		width: auto;
	}
}


@media only screen and (max-width: 390px){
	.header_bottom>.container_large{display: block;}
}