
/*==============================================
	RESPONSIVE LAYOUTS
===============================================*/

@media only screen and (max-width: 1769px){

} /* (max-width: 1769px) */


@media only screen and (max-width: 1249px){

	.mb60{margin-bottom: 45px;}

	.mb55 {
	    margin-bottom: 40px;
	}

	.title2 + .data_yellow{
	  margin-bottom: 40px;
	}

} /* (max-width: 1249px) */


@media only screen and (max-width: 991px) {

	.mb60{margin-bottom: 35px;}

	.mb55 {
	    margin-bottom: 30px;
	}

	.title2 + .data_yellow{
	  margin-bottom: 30px;
	}

} /* (max-width: 991px) */


@media only screen and (max-width: 767px) {

	.first_screan_title{
		line-height: 1.3;
	}

	.mb60{margin-bottom: 20px;}

	.mb55 {
	    margin-bottom: 20px;
	}

	.title2 + .data_yellow{
	  margin-bottom: 20px;
	}

	.img.alignright {
	    margin-left: 0;
	}

	.faq_accordion .faq_accordion_title{
		font-size: 14px;
		padding: 10px 40px 10px 20px;
	}

	.faq_accordion .faq_accordion_title > .faq_accordion_btn{
		width: 20px;
		height: 20px;
		right: 15px;
	}

	.faq_accordion .faq_accordion_content{
		padding: 20px;
	}

} /* (max-width: 767px) */


@media only screen and (max-width: 469px) {

} /* (max-width: 470px) */
