
/*
-----------------------------------------------------
  Stylesheet Guide
-----------------------------------------------------

  1. Default stylesheets

    1.1. Color Schemes

  2. General classes

  3. Main

    3.1 Offsets

  4. Basic Elements

    4.1. Typography
    4.2. Lists
    4.3. Buttons
    4.4. Forms
    4.5. Tables
    4.6. Tooltips
    4.7. Dividers

  5. Widgets and Shortcodes

  6. Header

    6.1. Logo
    6.2. Main Navigation

  7. Footer

*/


/* ------------------------------------------------

    1. Default stylesheets

------------------------------------------------ */

  /* --------------------------------------------
        1.1. Color Schemes
  -------------------------------------------- */

  .bg_purple2{
    background-color: #a4498c;
  }

  .bd_purple2{
    border: 2px solid #a4498c;
  }

  .color_purple2{
    color: #a4498c;
  }


/* ------------------------------------------------

    2. General Classes

------------------------------------------------ */

/* ------------------------------------------------

    3. Main

------------------------------------------------ */


/* ------------------------------------------------

    4. Basic Elements

------------------------------------------------ */

  /* --------------------------------------------
        4.1. Typography
  -------------------------------------------- */

    .data_yellow{
      max-width: 109px;
      background-color: #ffd520;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px;
      color: #353535;
      font-family: 'ComicSansMS';
      text-align: center;
      padding: 7px 8px;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      display: block;
      margin: 0 auto;
    }

    .data_yellow:not(:last-child){
      margin-bottom: 20px;
    }

    .title2 + .data_yellow{
      margin-bottom: 70px;
    }

  /* --------------------------------------------
        4.2. Lists
  -------------------------------------------- */

  /* --------------------------------------------
        4.3. Buttons
  -------------------------------------------- */

  /* --------------------------------------------
        4.4. Forms
  -------------------------------------------- */

  /* --------------------------------------------
        4.5. Tables
  -------------------------------------------- */

  /* --------------------------------------------
        4.6. Tooltips
  -------------------------------------------- */

  /* --------------------------------------------
        4.7. Dividers
  -------------------------------------------- */

/* ------------------------------------------------

    5. Widgets and Shortcodes

------------------------------------------------ */

  /* --------------------------------------------
        Info Boxs
  -------------------------------------------- */

  /* --------------------------------------------
        Articles
  -------------------------------------------- */


  /* --------------------------------------------
        Vacancies
  -------------------------------------------- */

  /* --------------------------------------------
        Pagination
  -------------------------------------------- */

  /* --------------------------------------------
        Breadcrumbs
  -------------------------------------------- */

  /* --------------------------------------------
        Contact Box
  -------------------------------------------- */

  /* --------------------------------------------
        Map Box
  -------------------------------------------- */

  /* --------------------------------------------
        Comment Box
  -------------------------------------------- */

  /* --------------------------------------------
        Subscribe Box
  -------------------------------------------- */

  /* --------------------------------------------
        Sliders
  -------------------------------------------- */

  /* --------------------------------------------
        Tabs
  -------------------------------------------- */

  /* --------------------------------------------
        Gallery Box
  -------------------------------------------- */

  /* --------------------------------------------
        Shadow Box
  -------------------------------------------- */

  /* --------------------------------------------
        First Screan
  -------------------------------------------- */

    @media only screen and (min-width: 1440px) {

      .first_screan_img .container-xl{
        max-width: 1280px;
      }

    }

    .box1.bg_purple2:before{
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.01) 5%, rgba(163, 71, 138, 0.2) 38%, rgba(165, 71, 141, 0.65) 57%, rgba(165, 72, 141, 0.96) 78%, rgba(165, 72, 141, 1) 100%);

      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.01) 5%, rgba(163, 71, 138, 0.2) 38%, rgba(165, 71, 141, 0.65) 57%, rgba(165, 72, 141, 0.96) 78%, rgba(165, 72, 141, 1) 100%);

      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(127, 127, 127, 0.01) 5%, rgba(163, 71, 138, 0.2) 38%, rgba(165, 71, 141, 0.65) 57%, rgba(165, 72, 141, 0.96) 78%, rgba(165, 72, 141, 1) 100%);
    }

    .box1.bg_purple2:hover:before{
      background-color: rgba(164,73,140,1);
    }

    .box1.bg_purple2 .box1_btn:before {
      background-image: url("../images/icons/arrow_right_purple2.png");
    }

  /* --------------------------------------------
        Box 1
  -------------------------------------------- */

    /* fix overflow hidden */
    .box1:not(:hover) .box1_desc > .box1_title{
      margin-bottom: 0;
    }

    .box1:hover .box1_desc > .box1_title:only-child{
      margin-bottom: 0;
    }

  /* --------------------------------------------
        Box 2
  -------------------------------------------- */

  /* --------------------------------------------
        Box 3
  -------------------------------------------- */

  /* --------------------------------------------
        Box 4
  -------------------------------------------- */

  /* --------------------------------------------
        Gallery Block
  -------------------------------------------- */

  /* --------------------------------------------
        Teachers Block
  -------------------------------------------- */

  /* --------------------------------------------
        Advantages Block
  -------------------------------------------- */

  /* --------------------------------------------
        Social Networks Block
  -------------------------------------------- */

  /* --------------------------------------------
        Events Block
  -------------------------------------------- */

  /* --------------------------------------------
        FAQ accordion
  -------------------------------------------- */

    .faq_accordion .faq_accordion_title{
      background-color: #fff;
      border-width: 2px;
      border-style: solid;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px;
      -webkit-box-shadow: -2px 2.3px 10px rgba(0, 0, 0, 0.27);
      box-shadow: -2px 2.3px 10px rgba(0, 0, 0, 0.27);
      color: #353535;
      font-family: "ComicSansMS";
      font-size: 22px;
      font-weight: 400;
      line-height: 26px;
      padding: 18px 50px 17px 36px;
      -webkit-cursor: pointer;
      -moz-cursor: pointer;
      -ms-cursor: pointer;
      -o-cursor: pointer;
      cursor: pointer;
      margin-bottom: 20px;
      position: relative;
      z-index: 1;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }

    .faq_accordion .faq_accordion_title > .faq_accordion_btn{
      display: inline-block;
      width: 27px;
      height: 27px;
      position: absolute;
      top: 50%;
      right: 20px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .faq_accordion .faq_accordion_title > .faq_accordion_btn:before,
    .faq_accordion .faq_accordion_title > .faq_accordion_btn:after{
      content: '';
      display: block;
      position: absolute;
      background-color: #000;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }

    .faq_accordion .faq_accordion_title > .faq_accordion_btn:before{
      width: 3px;
      height: 100%;
    }

    .faq_accordion .faq_accordion_title > .faq_accordion_btn:after{
      width: 100%;
      height: 3px;
    }

    .faq_accordion .faq_accordion_title.bd_blue > .faq_accordion_btn:after,
    .faq_accordion .faq_accordion_title.bd_blue > .faq_accordion_btn:before{
      background-color: #58a9e0;
    }

    .faq_accordion .faq_accordion_title.bd_purple > .faq_accordion_btn:after,
    .faq_accordion .faq_accordion_title.bd_purple > .faq_accordion_btn:before{
      background-color: #9154a1;
    }

    .faq_accordion .faq_accordion_title.bd_pink > .faq_accordion_btn:after,
    .faq_accordion .faq_accordion_title.bd_pink > .faq_accordion_btn:before{
      background-color: #c64273;
    }

    .faq_accordion .faq_accordion_title.bd_green > .faq_accordion_btn:after,
    .faq_accordion .faq_accordion_title.bd_green > .faq_accordion_btn:before{
      background-color: #7cb107;
    }

    .faq_accordion .faq_accordion_title.bd_orange > .faq_accordion_btn:after,
    .faq_accordion .faq_accordion_title.bd_orange > .faq_accordion_btn:before{
      background-color: #f69d07;
    }

    .faq_accordion .faq_accordion_content{
      background-color: white;
      border-width: 2px;
      border-style: solid;
      border-top: none;
      -webkit-border-radius: 0 0 20px 20px;
      -moz-border-radius: 0 0 20px 20px;
      -ms-border-radius: 0 0 20px 20px;
      -o-border-radius: 0 0 20px 20px;
      border-radius: 0 0 20px 20px;
      -webkit-box-shadow: -2px 2.3px 10px rgba(0, 0, 0, 0.27);
      box-shadow: -2px 2.3px 10px rgba(0, 0, 0, 0.27);
      z-index: -1;
      padding: 35px 35px 40px;
      margin-top: -20px;
      display: none;
    }

    /* active */
    .faq_accordion .faq_accordion_title.active{
      -webkit-border-radius: 20px 20px 0 0;
      -moz-border-radius: 20px 20px 0 0;
      -ms-border-radius: 20px 20px 0 0;
      -o-border-radius: 20px 20px 0 0;
      border-radius: 20px 20px 0 0;
      margin-bottom: 0;
    }

    .faq_accordion .faq_accordion_title.active > .faq_accordion_btn:before{
      opacity: 0;
      visibility: hidden;
    }

    .faq_accordion .faq_accordion_title.active + .faq_accordion_content{
      margin-top: 0;
    }

    .faq_accordion .faq_accordion_title.active + .faq_accordion_content:not(:last-child){
      margin-bottom: 20px;
    }


/* ------------------------------------------------

    Header

------------------------------------------------ */


  /* --------------------------------------------
        header top
  -------------------------------------------- */


  /* --------------------------------------------
        header bottom
  -------------------------------------------- */

    /* --------------------------------------------
        Logo
    -------------------------------------------- */

    /* --------------------------------------------
        Main Navigation
    -------------------------------------------- */


    /* --------------------------------------------
        header tel
    -------------------------------------------- */


/* ------------------------------------------------

    Footer

------------------------------------------------ */

  /* --------------------------------------------
      Offsets
  -------------------------------------------- */

    .mb20{margin-bottom: 20px;}
    .mb55{margin-bottom: 55px;}
    .mb60{margin-bottom: 60px;}

/* ------------------------------------------------

    Animate

------------------------------------------------ */
